<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div id="calendar"></div>
</body>

<script>

    var element = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(element,{
        initialView: 'dayGridMonth',
        locale: 'pt-br',
        events: 'getcalendar',
        eventClick: function(info){
            window.location.href = '/event/'+info.event.id;
        }
    });

    calendar.render();

</script>

</html>