<h3>Consultas: </h3>
<hr>
<form action="/searchresult" method="get">
    <input type="search" name="search" id="search" placeholder="Digite o e-mail ou o CPF do cliente">
    <button>Pesquisar</button>
</form>
<hr>
<% appos.forEach(appo => { %>

    <h1>Consulta: <%= appo.description %> </h1>
    <h4>Paciente: <%= appo.name %> </h4>
    <h4>Email: <%= appo.email %> </h4>
    <h4>CPF:  <%= appo.cpf %> </h4>
    <hr>

<% }) %>